doctype html
html(lang='en')
    head
        title Vimeo
    body
        div(style='min-width:300px')
            img(src='https://s3.amazonaws.com/pyoopil-prod-server/wysija-vimeo-color-player.png', style='display:block; margin-left:auto; margin-right:auto;')
                      