doctype html
html
    head
    body
        iframe#player_1(src='#{name}?title=0&byline=0&portrait=0&color=c9ff23&player_id=player_1&autoplay=1', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                      