/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

body{
margin:0;
padding:0;
background: #e8e8e8;
font-family: Helvetica Neue, Helvetica, Arial;
}

.container{
width: 636px;
margin: 0 auto;
}

.pyoopil{
width: 500px;
height: 278px;
padding: 68px;
margin: -20px 0;
}

.msg{
width:636px;
float: left;
padding-top: 20px;
}

.text{
width: 450px;
margin: 0 auto 30px auto;
font-size: 30px;
color: #f68020;
display: block;
text-align: center;
}

.clear{
clear: both;
}

